.parts {
  display: grid;
  scroll-behavior: smooth;
  overflow-x: scroll;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  scroll-snap-type: x mandatory;
  margin-bottom: 10px;
  padding: 10px;
}
.parts > div {
  scroll-snap-align: start;
  background-color: white;
  padding: 10px;
  display: grid;
  border-radius: 10px;
  gap: 1em;
}
.parts > div > img {
  max-width: 120px;
}
.parts::-webkit-scrollbar {
  height: 15px;
}
.parts::-webkit-scrollbar-track {
  background-color: none;
}
.parts::-webkit-scrollbar-thumb {
  background-color: #c85250;
  /* box-shadow: 0 0 6px black; */
  border-radius: 5px;
  width: 20px;
}
