.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  margin-top: 1em;
  gap: 1em;
  padding: 10px;
}
.container h2 {
  font-size: 1.3em;
  font-weight: 500;
}

.video_card {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.video_card:hover::after {
  transition: 0.5s;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  height: 100%;
}
.icon {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;

  bottom: -10px;
  right: 0;
  overflow: hidden;
  border-radius: 10px;
  translate: -50% -50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon svg {
  font-size: 3rem;
  color: #ef233c;
  width: 3rem;
  height: 3rem;
}
.videos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  justify-items: center;
  padding: 10px;
}
.videos > * {
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  display: flex;
  gap: 0.5em;
  justify-self: center;
  color: black;
  position: relative;
}

.video_card:hover .icon {
  scale: 3;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  top: 50%;
  left: 50%;
  border-radius: 200%;
  background-color: white;
}
.videos h3 {
  padding: 0.6em 0.5em;
  font-style: italic;
  font-size: 1.2rem;
  font-weight: 600;
}
.videos img {
  object-fit: cover;
  width: 100%;
  height: 270px;
}

.videos p {
  font-size: 0.9rem;
  padding: 6px;
}
@media (max-width: 960px) {
  .container h2 {
    text-align: center;
  }
}
