.card {
  background-color: white;
  width: 290px;
  display: flex;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
}
.card:hover {
  scale: 1.03;
  transition: 0.5s;
}
.card img {
  margin: 0 auto;
  max-width: 60%;
  justify-self: center;
  align-self: center;
  border-radius: 7px;
}
.card button {
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 10px;
  white-space: nowrap;
  margin: 1rem 0;
  border: none;
}
.btns {
  display: flex;
  padding: 1em;
  gap: 1rem;
}
.btns button {
  padding: 0.5rem;
  background-color: #c85250;
  color: #e9eae0;
  font-weight: 400;
  font-size: 0.9rem;
}
.card h3 {
  padding: 5px;
  font-size: 1.1rem;
  margin: 5px;
  color: black;
  font-weight: 300;
}
