* {
  text-transform: capitalize;
}

body {
  background-color: #ebf5f7;
  height: 100%;
}

.card-loader {
  height: 200px;
  width: 200px;
  padding: 10px;
  background-color: white;
  display: grid;

  justify-items: center;
  box-shadow: 0 0 0px black;
  border-radius: 10px;
}

.img-loader {
  background-color: rgb(228, 217, 217);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: fadeIn 1s linear infinite;
}

.title-loader {
  background-color: rgb(228, 217, 217);
  width: 60px;
  height: 20px;
  animation: fadeIn 1s linear infinite;

  margin-top: 10px;
  border-radius: 4px;
}

.text-loader {
  width: 150px;
  animation: fadeIn 1s linear infinite;

  background-color: rgb(228, 217, 217);
  border-radius: 4px;
  height: 20px;
  margin-top: 5px;
}

.flex {
  display: flex;
  gap: 1em;
}

.main-back-btn,
.detail-back-btn {
  border: none;
  font-size: 2rem;
  background-color: black;
  position: absolute;
  left: 20%;
  margin-left: -4rem;
  color: #ebf5f7;
  width: 3rem;
  display: grid;
  place-items: center;
  height: 3rem;
  background-color: #ef233c;
  border-radius: 50%;
  overflow: hidden;
}

/* .detail-back-btn:hover,
.main-back-btn:hover, */
button:is(.detail-back-btn, .main-back-btn):hover {
  background-color: #fbfffd;
  border: 1px solid #ef233c;
  color: #ef233c;
}

.detail-back-btn {
  top: -15%;
  left: 10%;
}

.overlay {
  height: 100%;
  width: 100%;
  display: grid;
  position: absolute;
  top: 0;
  place-content: center;
  z-index: 9000000000000000;
  background-color: rgba(0, 0, 0, .4);
}

.overlay>div {
  width: 300px;
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 1em;
  flex-direction: column;
  height: 200px;
  background-color: rgba(239, 35, 60, .9);
  color: white;
  border-radius: 30px;
}

.overlay button {
  background-color: #ebf5f7;
  border: none;
  padding: .4em;
  border-radius: 10px;
  font-weight: bold;
  color: #ef233c;
  font-size: 1.2rem;

}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ff2768 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 960px) {

  .detail-back-btn,
  .main-back-btn {
    display: none;
  }

  .overlay {
    height: 200vh;
    display: flex;
    justify-content: center;
  }

  .overlay>div {
    position: absolute;
    top: 20%;
  }
}

@keyframes fadeIn {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}