@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
ul,
a {
  text-decoration: none;
  list-style: none;
}
.loader-container {
  display: grid;
  background-color: aliceblue;
  place-items: center;
  height: 60vh;
  gap: 3em;
  place-content: center;
  text-align: center;
}
.loader-container p {
  color: rgb(48, 44, 44);
  font-weight: 600;
}
.container-auth {
  display: grid;
  place-items: center;
  padding: 10px;
  height: 60vh;
  max-width: 370px;
  margin: 0 auto;
}
.signin-btn {
  font-size: 1.5rem;
  padding: 0.4em 0.8em;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 10px;
}
